<header class="header" id="home">
  <div class="header__content">
    <div class="header__image-wrapper">
      <div class="header__image-border">
        <img
          class="header__image"
          src="{{ site.url }}/assets/img/portrait.jpg"
          alt="{{ site.title }}"
        />
      </div>
    </div>

    <div class="header__title">{{ site.title }}</div>
    <div class="header__subtitle">{{ site.subtitle }}</div>

    <div class="header__buttons">
      <a
        href="{{ site.linked_url }}"
        target="_blank"
        title="Find me on LinkedIn"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a
        href="https://github.com/{{ site.github_username }}"
        target="_blank"
        title="Find me on Github"
        ><i class="fab fa-github-square"></i
      ></a>
      <a
        href="mailto:{{ site.email_address }}"
        target="_blank"
        title="Write me an E-Mail"
        ><i class="fas fa-envelope-square"></i
      ></a>
    </div>
  </div>

  <div class="mountains">
    <div class="mountain mountain--0"></div>
    <div class="mountain mountain--1"></div>
    <div class="mountain mountain--2"></div>
    <div class="mountain mountain--3"></div>
    <div class="mountain mountain--4"></div>
    <div class="mountain mountain--5"></div>
    <div class="mountain mountain--6"></div>
    <div class="mountain mountain--7"></div>
    <div class="mountain mountain--8"></div>
    <div class="mountain mountain--9"></div>
    <div class="mountain mountain--10"></div>
  </div>

  <div class="horizon"></div>
</header>
