@import "../variables";

.content {
  margin: 0 32px;
  max-width: $lg;
  position: relative;

  @media (min-width: $lg) {
    margin: 0 auto;
  }

  & > *:first-child {
    margin-top: 64px;
  }

  & > *:last-child {
    margin-bottom: 64px;
  }
}
